{% macro render_join_button(event_vc_room, extra_classes="") %}
    <a class="i-button highlight {{ extra_classes }}"
       href="{{ url_for_plugin('vc_bbb.start_and_join', event_vc_room) }}" target="_self">
        {% trans %}Join{% endtrans %}
    </a>
{% endmacro %}

{% macro render_start_join_button(event_vc_room, extra_classes="") %}
    <a class="i-button highlight {{ extra_classes }}"
       href="{{ url_for_plugin('vc_bbb.start_and_join', event_vc_room) }}" target="_self">
        {% trans %}Start{% endtrans %}
    </a>
{% endmacro %}

{% macro render_preload_button(event_vc_room, extra_classes="") %}
                <a href="#"
                    title="{% trans %}Manage presentations{% endtrans %}"
                    class="i-button icon-upload action-adds-slides {{ extra_classes }}" data-href="{{ url_for_plugin('vc_bbb.slides', event_vc_room) }}"
                    data-title="{% trans %}Manage presentations{% endtrans %}"
                    data-ajax-dialog
                    data-reload-after>
                </a>
{% endmacro %}

{% macro render_recordings_button(event_vc_room, extra_classes="") %}
                <a href="#"
                    title="{% trans %}Manage recordings{% endtrans %}"
                    class="i-button icon-file-video  action-recordings {{ extra_classes }}" data-href="{{ url_for_plugin('vc_bbb.recordings', event_vc_room) }}"
                    data-title="{% trans %}Manage event recordings{% endtrans %}"
                    data-ajax-dialog
                    data-reload-after>
                </a>
{% endmacro %}
