<dl class="details-container">
    <dt>{% trans %}Moderators{% endtrans %}</dt>
    <dd>{{ moderators }}</dd>

    {% if event_vc_room.link_type == 1 %}
        <dd></dd>
        <dt>{% trans %}Start date{% endtrans %}</dt>
        <dd>{{ event.start_dt }}</dd>
        <dt>{% trans %}Duration{% endtrans %}</dt>
        <dd>{{ event.duration }}</dd>
        <dt>{% trans %}End date{% endtrans %}</dt>
        <dd>{{ event.end_dt_local }}</dd>
    {% endif %}

    {% if event_vc_room.link_type == 2 %}
        <dd></dd>
        <dt>{% trans %}Start date{% endtrans %}</dt>
        <dd>{{ event.get_contribution(event_vc_room.linked_contrib.id).start_dt }}</dd>
        <dt>{% trans %}Duration{% endtrans %}</dt>
        <dd>{{ event.get_contribution(event_vc_room.linked_contrib.id).duration }}</dd>
        <dt>{% trans %}End date{% endtrans %}</dt>
        <dd>{{ event.get_contribution(event_vc_room.linked_contrib.id).end_dt }}</dd>
    {% endif %}


    {% if event_vc_room.link_type == 3 %}
        <dd></dd>
        <dt>{% trans %}Start date{% endtrans %}</dt>
        <dd>{{ event.get_session_block(event_vc_room.linked_block.id).start_dt }}</dd>
        <dt>{% trans %}Duration{% endtrans %}</dt>
        <dd>{{ event.get_session_block(event_vc_room.linked_block.id).duration }}</dd>
        <dt>{% trans %}End date{% endtrans %}</dt>
        <dd>{{ event.get_session_block(event_vc_room.linked_block.id).end_dt }}</dd>
    {% endif %}

</dl>
