<dl class="details-container">
    <dt>{% trans %}Moderators{% endtrans %}</dt>
    <dd>{{ moderators }}</dd>
    <dt>{% trans %}Presentation{% endtrans %}</dt>
    {% if event_vc_room.data.file %}
        <dd>
        {% for f in event_vc_room.data.file %}
            <p>{{ f.filename }} ({{ f.size }} {% trans %}bytes{% endtrans %})</p>
        {% endfor %}
        </dd>
    {% else %}
        <dd>{% trans %}No files{% endtrans %}</dd>
    {% endif %}
    <dt>{% trans %}Room ID{% endtrans %}</dt>
    <dd>{{ vc_room.data.room_id }}</dd>
    <dt>{% trans %}Internal ID{% endtrans %}</dt>
    <dd>{{ internal_ids }}</dd>
</dl>
